.sectionJogo{
    height: 719px;
    background: url(../../imgs/back-banner-bananas.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.niveisJogo{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    margin-top: 35px;
}

.containerJogo{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.cardsNivel{
    display: flex;
    width: 100%;
}

.trianguloD{
    margin-right: 30px;
}
