.progresso {
    display: flex;
    width: 100%;
    height: 100%;
}
.aulas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nomesLabels {
    width: 75%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.nomesLabels p {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 175px;
}

.barraVertical {
    height: 30px;
    width: 1.5px;
    background-color: #9E6AE1;
}
.barraHorizontal {
    height: 1px;
    width: 80%;
    background-color: #9E6AE1;
}
.alertas {
    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFFFE;
    width: 90%;
    height: 40%;
    border: solid 2px #476334;
    border-radius: 10px ;
    justify-content: flex-start;
    gap: 20px;
}
.alertas h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 25px;

    text-shadow: none;
}
.alertas img {
    width: 300px;
}
.lado-direito-tela {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.lado-esquerdo-tela {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}
.mural {
    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6E6;
    width: 90%;
    height: 45%;
    border: solid 2px #476334;
    border-radius: 10px ;
    justify-content: flex-start;
}
.mural h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    text-shadow: none;
}
.titulo-mural {
    position:relative;
}
.mensagens {
    width: 90%;
    display: flex;
    justify-content: end;
}
.containerKpis {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloKpi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.cardsKpi {
    display: flex;
    width: 80%;
    height: 80%;
    overflow-x: hidden; /* Esconde a barra de rolagem */
    scroll-behavior: smooth; /* Anima a rolagem de forma suave */
    white-space: nowrap; /* Mantém os itens na mesma linha */
    position: relative; /* Para facilitar o posicionamento das setas, se necessário */
}

.kpi {
    width: 260px;
    height: 140px;
    margin-right: 20px;
    flex-shrink: 0; /* Impede que os itens sejam redimensionados */
    background-image: url(../../imgs/backgroundKpi.png);
    border-radius: 20px;
}

.setaRolagem img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
