.estudantes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.navigationBar {
    display: flex;
    width: 93%;
    align-items: center;
}

.barraNavegacao {
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    height: 10%;
    width: 99%;
    justify-content: center;
}

.selecionar {
    color: #595959;
    display: flex;
    width: 58%;
    gap: 5px;
}

.selecionar input {
    border-radius: 20px;
}

.botoesEstudantes {
    color: white;
    display: flex;
    border-radius: 5px;
    padding: 2px;
    align-items: center;
    gap: 10px;
    background-color: #817A8C;
    width: auto;
    height: 20px;
    padding: 5px;
    transition: all 0.3s;
}

.excluir {
    display: flex;
    gap: 5px;
}

.excluir img {
    width: 10px;
}

.botoesDireita {
    cursor: pointer;
    justify-content: flex-end;
    width: 100%;
    display: flex;
    gap: 20px;

}

.pesquisarEstudantes {
    cursor: pointer;
}

.ordernarEstudantes img {
    width: 10px;
}

.ordernarEstudantes select {
    color: white;
    background-color: #817A8C;
    border: none;
    text-overflow: '';
}

.selecionar {
    font-weight: bolder;
}

.estudantesInformacoes {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: calc(100% - 10%); /* Adjust the height to fit within telaPrincipal */
    overflow-y: auto; /* Enable vertical scroll */
    width: 100%; /* Ensure it takes the full width */
}


.botoesEstudantes:hover{
    opacity: 0.8;
}
.navegationBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

