.sectionBackgroundCadastro{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #F3DE2C;
}

.sectionBackgroundCadastroProfessor{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #FFF171;
}

.container-background-cadastro{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 90vh;
    background-image: url(../../imgs/back-banner-bananas.png);
    
}

.buttom-voltar{
    position: absolute;
    z-index: 2;
    left: 45px;
    top: 20px;
    white-space: break-spaces;
}

.buttom-voltar button{
    border: none;
    background: none;
    padding: 0;
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 5px 1px 9px black;
}