.container-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

 .container-fora{
    background-color: grey;
  }
  

@media(max-width: 2840px){  

  .container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 500px;
  }
  .container-fora{
    display: flex;
    flex-direction: column;
    padding: 0 15vh;
  }
  
  .card-footer{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
  }
  
  .ladoEsquerdo, .ladoDireito{
    flex-direction: column;
    width: 50%;
    align-content: center;
  }
  
  .ladoEsquerdo span{
    font-size: 20px;
    margin-bottom: 6px;
    color: #FFFFFF80;
    text-align: start;
  }
  
  .ladoEsquerdo h1{
    margin-bottom: 11px;
  }
  
  .ladoDireito p{
    font-size: 20px;
    color: #FFF;
  }
  .topo, .baixo{
    display: flex;
  }
  
  .topo h1, .baixo h1{
    font-size: 32px;
  }
  
  .copyright{
    text-align: left;
    font-size: 1.3rem;
  }

  .linhaDivisoria{
    margin-top: 6px;
    background-color: #FFF;
    width: 100%;
    height: 1px;
  }

  .copyright{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
    color: #FFF;
  } 
}

@media (max-width: 1024px) {
  .ladoDireito img {
    width: 290px;
  }

  .topo h1, .baixo h1{
    font-size: 30px;
  }
}
@media(max-width: 768px){
  .container-fora{
    padding: 0 8vh;
  }

  .ladoDireito p{
    font-size: 15px;
  }
  
  .ladoDireito img {
    width: 300px;
  }

  .topo h1, .baixo h1{
    font-size: 20px;
  }

  .ladoEsquerdo span{
    font-size: 15px;
  }

  .linhaDivisoria{
    margin-top: 6px;
    background-color: #FFF;
    width: 100%;
    height: 1px;
  }

  .copyright{
    margin-top: 6px;
    text-align: left;
    font-size: 15px;
    color: #FFF;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px)
{
  .container-footer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
  }

  .container-fora{
    display: flex;
    flex-direction: column;
    padding: 0 8vh;
  }
  .ladoDireito img {
    width: 235px;
  }

  .ladoEsquerdo, .ladoDireito{
    flex-direction: column;
    width: 100%;
    align-content: center;
  }

  .topo, .baixo{
    display: flex;
    justify-content: space-between;
  }

  .topo h1, .baixo h1{
    font-size: 17px;
  }

  .linhaDivisoria{
    margin-top: 6px;
    background-color: #FFF;
    width: 100%;
    height: 1px;
  }

  .copyright{
    margin-top: 10px;
    text-align: left;
    font-size: 10px;
    color: #FFF;
  }
} 
