.sobre-projeto{
    height:100vh;
    background: url('../../imgs/banner-bananas.svg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-sobre-projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.row-cards{
    display: flex;
    align-items: center;
}
.lado-esquerdo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 530px;
}

.lado-direito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 530px;
}
