.section-formulario-login{
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 20px 0px black;
    position: relative;
    overflow: visible;
}

.container-formulario-login{
  display: flex;
  justify-content: center;
}

.image-Container {
  position: absolute;
  right: 100%;
  overflow: visible;
  top: -125px;

}
  
  .image-Container img {
    height: auto;
  }

  .section-formulario-login .subtitulo-login{
    margin-left: 12%;
    font-size: 18px;
    width: 250px;
    height: min-content;
    border-bottom: solid 1px black;
    font-weight: bold;
  }

  .subtitulo-login span{
    margin-left: 7px;
  }

  .forms-login{
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 226px;
    margin-top: 10px;
  }
  
  .nomes{
    display: flex;
    justify-content: space-between;
  }

  .buttom-login{
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-subtitulo{
    display: flex;
    padding: 10% 0px 0px 0%;
    justify-content: space-between;
  }

  .botao-aluno-professor{
    margin-right: 12%;
  }

  .toggleCheckbox { 
    display: none; 
 }

 .toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border-radius: 20px;
  background: #D9D9D9;
  font-weight: bold;
  cursor: pointer;
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius:20px;
  background: #662E9B;
  transition: all 0.3s;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}
.toggleCheckbox:checked + .toggleContainer div:first-child{
  color: #343434;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
  color: #343434;
  transition: color 0.3s;
}

.password-container {
  display: flex;
  align-items: center;
}

.eye-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  left: 80%;
}