:root {
  --cor-roxa: #662E9B;
  --cor-amarela: #F3DE2C;
  --cor-laranja: #FB6107;
  --cor-verde: #7CB518;
  --cor-branco: #fff;
  --cor-preta: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  padding: 0 15vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.escreva-codigo {
  padding: 0 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  overflow: hidden;
}

.text-escreva-codigo {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.lado-direito-section{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.lado-esquerdo-section{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.section-cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('./imgs/banner-verde.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.video-container{
  height: 60vh;
}

.section-valores{
  display: flex;
  gap: 50px;
}

.section-valores .cardComImg{
  width: 50%;
}
